<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Edit Status</span>
</nav>
<h6> The current status of courier is <%= @order.status %>. To change the status provide it in the below box</h6>
<%= form_with local: true, url: "/order/", method: :post do |form| %>
  <div>
    <%= form.hidden_field :id, value: @order.id %>
  </div>

  <div>
    <%= form.text_field :status, size: 100 %>
  </div>

  <div>
    <%= form.submit "Update"%>
  </div>
<% end %> 
