<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Orders</span>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Sender Name</th>
      <th scope="col">Receiver Name</th>
      <th scope="col">Present Status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr scope="row">
        <td><%= order.sender_full_name %></td>
        <td><%= order.receiver_full_name %></td>
        <td><%= link_to order.status, edit_status_path(order.id) %></td>
      </tr>
  </tbody>
  <% end %>