<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">New Order</span>
</nav>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<%= form_with local: true, model: @order do |form| %>
 <div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <%= form.label :sender_full_name %><br>
        <%= form.text_field :sender_full_name %>
      </div>

      <div>
        <%= form.label :sender_address %><br>
        <%= form.text_area :sender_address %>
      </div>

      <div>
        <%= form.label :sender_email %><br>
        <%= form.text_field :sender_email %>
      </div>

      <div>
        <%= form.label :sender_phone_no %><br>
        <%= form.text_field :sender_phone_no %>
      </div>

      <div>
        <%= form.label :sender_pin_code %><br>
        <%= form.text_field :sender_pin_code %>
      </div>
    </div>

    <div class="col">
      <div>
        <%= form.label :receiver_full_name %><br>
        <%= form.text_field :receiver_full_name %>
      </div>

      <div>
        <%= form.label :receiver_address %><br>
        <%= form.text_area :receiver_address %>
      </div>

      <div>
        <%= form.label :receiver_email %><br>
        <%= form.text_field :receiver_email %>
      </div>

      <div>
        <%= form.label :receiver_phone_no %><br>
        <%= form.text_field :receiver_phone_no %>
      </div>
  
      <div>
        <%= form.label :receiver_pin_code %><br>
        <%= form.text_field :receiver_pin_code %>
      </div>
    </div>

    <div class="col">
      <div>
        <%= form.label :weight %><br>
        <%= form.number_field :weight, step: 0.01 %>
      </div>

      <div>
        <%= form.label :type_of_service %><br>
        <%= form.select :type_of_service, ['Regular', 'Speed Post']%>
      </div>

      <div>
        <%= form.label :payment %><br>
        <%= form.select :payment, ['COD', 'Prepaid']%>
      </div>
    </div>
  </div>
</div>
  
  <div class="d-flex justify-content-center">
    <%= form.submit %>
  </div>
<% end %> 
