<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Search</span>
</nav>
<%= form_with local: true, url: "/status", method: :get do |form| %>
  <div>
    <%= form.text_field :id, placeholder: "Enter the unique id to search the order", size: 100 %>
    <%= form.submit "Search"%>
  </div>
<% end %> 
