<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Courier Status</span>
</nav>
<h6>
  <% if @status == 'In Transit' %>
    Your courier is 
  <% else %>
    Your courier has been
  <% end %>
  <%= @status %>
</h6>
  