<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Track Orders</span>
</nav>
  <div  class="d-flex justify-content-center">
    <h4 class="text-info">
      <small  class="text-body">
        <% if @order.status == 'In Transit' %>
          Your courier is 
        <% else %>
          Your courier has been
        <% end %>
      </small>
      <%= @order.status %>
    </h4>
  </div>
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div>
          <%= label_tag "weight:" %>
          <%= @order.weight %>
        </div>

        <div>
          <%= label_tag "cost_of_service:" %>
          <%= @order.cost_of_service %>
        </div>
      </div>

      <div class="col">
        <div>
          <%= label_tag "type_of_service:" %>
          <%= @order.type_of_service%>
        </div>

        <div>
          <%= label_tag "payment:" %>
          <%= @order.payment%>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col">
        <div>
          <%= label_tag "sender_full_name:" %>
          <%= @order.sender_full_name %>
        </div>

        <div>
          <%= label_tag "sender_address:" %>
          <%= @order.sender_address %>
        </div>

        <div>
          <%= label_tag "sender_email:" %>
          <%= @order.sender_email %>
        </div>

        <div>
          <%= label_tag "sender_phone_no:" %>
          <%= @order.sender_phone_no %>
        </div>

        <div>
          <%= label_tag "sender_pin_code:" %>
          <%= @order.sender_pin_code %>
        </div>
      </div>

      <div class="col">
        <div>
          <%= label_tag "receiver_full_name:" %>
          <%= @order.receiver_full_name %>
        </div>

        <div>
          <%= label_tag   "receiver_address:" %>
          <%= @order.receiver_address %>
        </div>

        <div>
          <%= label_tag "receiver_email:" %>
          <%= @order.receiver_email %>
        </div>

        <div>
          <%= label_tag "receiver_phone_no:" %>
          <%= @order.receiver_phone_no %>
        </div>

        <div>
          <%= label_tag "receiver_pin_code:" %>
          <%= @order.receiver_pin_code %>
        </div>
      </div>
    </div>
  </div>
