<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @order.sender_full_name %></h1>
    <p>
      Your courier to  <%= @order.receiver_full_name %> is scheduled and will be picked-up at the earlist.
    </p>
    <p>
      To track the package, just follow this link: <%= url_for(host: 'example.com',
      controller: 'orders',
      action: 'track_order', id: @order.id) %>
    </p>
    <p>Thanks for scheduling a courier with us and have a great day!</p>
  </body>
</html>
